<div id="dropzone" data-file-upload="options" class="fileupload well col-sm-12 dropzone dz-clickable">
    <input type="file" name="files[]" accept=".csv"><!-- directory webkitdirectory mozdirectory-->
    <div class="dz-message">
        <i class="fa fa-cloud-upload fa-5x label-success label-as-badge"></i>
        <span class="dz-info">Drag & Drop or click to upload.</span>
        <span class="text-muted clearfix">(Maximum of <strong>{{options.maxFileSize | filesize}}</strong> allowed. Only CSV file types allowed.)</span>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" ng-if="overall">
        <div class="progress active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" ng-style="{width:(overall.progress)+'%'}"></div>
        </div>
    </div>    
</div>
