<div ng-include="'App/views/layout/page-save.html'"></div>
<div class="row">
    <div class="col-lg-10 col-xl-offset-3 col-lg-offset-1 col-xl-6 col-md-12 col-sm-12">
        <ng-upload-form ng-model="record.file"
                        url="{{encoder}}"
                        template-url="/App/views/list/csv.html"
                        quick="true"
                        auto-upload="true"
                        title="CSV File"
                        multiple="false"
                        size-limit="5000000">
        </ng-upload-form>
    </div>
</div>