<div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()">&times;</button>
    <h3 class="modal-title"><i class="fa fa-th-list"></i> Edit Subsciber</h3>
</div>
<div class="modal-body">
    <div class="form-body">
        <div class="form-group">
            <label class="control-label">Name</label>
            <input class="form-control" type="text" ng-model="record.name" placeholder="Name" name="Name" />
        </div>
        <div class="form-group">
            <label class="control-label">Email</label>
            <input class="form-control" type="email" ng-model="record.email" required placeholder="Email" name="Email" />
        </div>
        <div class="form-group">
            <label><input type="checkbox" ng-model="record.isConfirmed" value="true" /> Confirmed</label>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-info" ng-click="ok(record)"><i class="fa fa-check"></i> Add</button>
    <button class="btn btn-default" ng-click="dismiss()"><i class="fa fa-close"></i> Cancel</button>
</div>