<div class="form-body">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="input-group input-icon">
                <i class="fa fa-envelope-o font-green"></i>
                <input class="form-control" type="text" ng-model="newPayment.Email" maxlength="50" placeholder="Payment Email address" />
                <div class="input-group-btn">
                    <a href="#" title="Add" class="btn btn-info" ng-click="updatePayment(newPayment,'PayPal')" type="submit"><i class="fa fa-cc-paypal"></i> Add PayPal</a>
                    <a href="#" title="Add" class="btn btn-info" ng-click="updatePayment(newPayment,'Stripe')" type="submit"><i class="fa fa-cc-stripe"></i> Add Stripe</a>
                </div>
            </div>
            <div class="clearfix margin-bottom-10"></div>
            <ul class="list-group list-editable">
                <li class="list-group-item" ng-repeat="item in payments">
                    <a title="Delete" class="btn btn-danger btn-icon-only" href="#" ng-click="trashPayment(item)"><i class="fa fa-trash"></i></a>
                    <i class="fa fa-cc-{{item.Gateway|lowercase}}"></i>
                    <a href="#" ng-click="loadPayment(item.ID)">{{item.Currency}} - {{item.Gateway}}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6 col-lg-4">
            
        </div>
    </div>
</div>
