<div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()">&times;</button>
    <h3 class="modal-title"><i class="fa fa-comment"></i> Comments <small>{{info.Title}}</small></h3>
</div>
<div class="modal-body">
    <div class="scroller" slimscroll="{height:'300px'}">
        <div ng-if="!comments.length" class="note note-warning">
            <h4 class="block">No comments found</h4>
            <p>Be the firstone to comment on <strong>{{info.Title}}</strong>.</p>
        </div>
        <ul class="chats">
            <li ng-repeat="c in comments" class="in">
                <img class="avatar" alt="" ng-src="{{c.Sender.Picture | gravtaar:c.Sender.Email:45}}"/>
                <div class="message">
                    <span class="arrow"> </span>
                    <a href="javascript:;" class="name"> {{c.Sender.Name}} </a>
                    <span class="datetime"> {{c.Created | fromNow}} </span>
                    <span class="body"> {{c.Message}} </span>
                </div>
            </li>
        </ul>
    </div>
    <div class="chat-form">
        <div class="input-cont">
            <input class="form-control" type="text" ng-model="message" placeholder="Type a message here...">
        </div>
        <div class="btn-cont">
            <span class="arrow"> </span>
            <a ng-click="add(message)" class="btn btn-lg blue icn-only">
                <i class="fa fa-check icon-white"></i>
            </a>
        </div>
    </div>
</div>