<div class="page-header-inner">
    <div class="page-logo">
        <a ui-sref="home"><img src="/Content/images/emaily-white.png" alt="Emaily - Most inexpensive, effective marketing email service" class="logo-default"/></a>
    </div>
    <div ng-include="'App/views/layout/top-nav.html'" class="hor-menu hor-menu-light hidden-xs"></div>
    <form ng-include="'App/views/layout/top-search.html'" class="search-form search-form-expanded" ng-submit="search(q)" method="GET"></form>
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
    <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
            <li class="dropdown dropdown-extended dropdown-tasks" id="header_task_bar" ng-include="'App/views/layout/top-notify.html'"></li>
            <li class="dropdown dropdown-user" ng-include="'App/views/layout/top-user.html'"></li>
        </ul>
    </div>
</div>
<toaster-container toaster-options="{'animation-class': 'toast-bottom-right','position-class':'toast-bottom-right'}"></toaster-container>