<div class="page-quick-sidebar">
    <div class="nav-justified">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a title="Users" data-target="#users" data-toggle="tab">Conversations</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane page-quick-sidebar-chat active" id="users" ng-class="{'page-quick-sidebar-content-item-shown':chatbox}">
                <div class="page-quick-sidebar-chat-users" fill-height slimscroll="{railColor:'#ddd',wrapperClass:'page-quick-sidebar-list',height:'auto'}">
                    <h3 class="list-heading">Contacts</h3>
                    <ul class="media-list list-items">
                        <li class="media" ng-repeat="u in contacts.users | orderBy:'-unread,Name'" ng-click="openIm(u)" ng-if="u.ID!=user">
                            <div class="media-status">
                                <span class="badge badge-warning">{{u.unread||''}}</span>
                            </div>
                            <div class="media-object" background-image="{{u.Image|gravtaar:u.Email:45:'mm'}}"></div>
                            <div class="media-body">
                                <h4 class="media-heading">{{u.Name}}</h4>
                                <div class="media-heading-sub">{{u.Email}}</div>
                            </div>
                        </li>
                    </ul>
                    <h3 class="list-heading">Team</h3>
                    <ul class="media-list list-items">
                        <li class="media" ng-repeat="u in contacts.teams | orderBy:'-unread,Name'" ng-click="openIm(u)">
                            <div class="media-status">
                                <span class="badge badge-warning">{{u.unread||''}}</span>
                            </div>
                            <div class="media-object" background-image="{{u.Image|gravtaar:u.Email:45:'mm'}}"></div>
                            <div class="media-body">
                                <h4 class="media-heading">{{u.Name}}</h4>
                                <div class="media-heading-sub">{{u.Email}}</div>
                            </div>
                        </li>
                    </ul>
                    <h3 class="list-heading">Company</h3>
                    <ul class="media-list list-items">
                        <li class="media" ng-repeat="u in contacts.companies | orderBy:'-unread,Name'" ng-click="openIm(u)">
                            <div class="media-status">
                                <span class="badge badge-warning">{{u.unread||''}}</span>
                            </div>
                            <div class="media-object" background-image="{{u.Image|gravtaar:u.Email:45:'mm'}}"></div>
                            <div class="media-body">
                                <h4 class="media-heading">{{u.Name}}</h4>
                                <div class="media-heading-sub">{{u.Email}}</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="page-quick-sidebar-item">
                    <div class="page-quick-sidebar-chat-user">
                        <div class="page-quick-sidebar-chat-users">
                            <ul class="media-list list-items">
                                <li class="media">
                                    <div class="media-status page-quick-sidebar-nav">
                                        <a ng-click="toggleChatBox()" class="page-quick-sidebar-back-to-list">
                                            <i class="icon-arrow-left-circle"></i>Back
                                        </a>
                                    </div>
                                    <div class="media-object" background-image="{{roomie.Image|gravtaar:roomie.Email:45:'mm'}}"></div>
                                    <div class="media-body">
                                        <h4 class="media-heading">{{roomie.Name}}</h4>
                                        <div class="media-heading-sub">{{roomie.Email}}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="page-quick-sidebar-chat-user-messages" fill-height slimscroll="{railColor:'#ddd',height:'auto'}">
                            <div class="post" ng-repeat="chat in roomie.messages" ng-class="{'in':chat.who.ID!=user,'out':chat.who.ID==user}">
                                <div class="avatar" background-image="{{chat.who.Image|gravtaar:chat.who.Email:45:'mm'}}"></div>
                                <div class="message">
                                    <span class="arrow"></span>
                                    <a href="javascript:;" class="name" ng-if="chat.who.ID==user"> me </a>
                                    <a href="javascript:;" class="name" ng-if="chat.who.ID!=user"> {{chat.who.Name }} </a>
                                    <span class="datetime" relative-time="chat.At"></span>
                                    <span class="body" ng-bind-html="chat.Message"></span>
                                </div>
                            </div>
                        </div> 
                        <div class="page-quick-sidebar-chat-user-form" style="position: fixed; bottom: 0px;">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="roomie.newmessage" vz-enter="sendChat(roomie.newmessage)" placeholder="Type a message here...">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-icon-only green" ng-click="sendChat(roomie.newmessage)">
                                        <i class="icon-plane"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>