<div class="page-sidebar navbar-collapse collapse">
    <div class="page-sidebar-wrapper">
        <ul class="page-sidebar-menu visible-sm visible-xs page-header-fixed">
            <li class="sidebar-search-wrapper">
                <form class="sidebar-search sidebar-search-bordered" ng-submit="search(q)" method="POST">
                    <a href="javascript:;" class="remove">
                        <i class="icon-close"></i>
                    </a>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="q" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn search" ng-click="search(q)">
                                <i class="icon-magnifier"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </li>
            <li class="nav-item" ng-repeat="n in navigations">
                <a ng-if="n.childs.length==0" class="nav-link {{menuclass}}" ui-sref="{{n.route}}"><i class="fa fa-{{n.icon}}"></i> {{n.title}}</a>
                <a ng-if="n.childs.length>0" href="javascript:;" class="nav-link nav-toggle">
                    <span class="title {{menuclass}}"><i class="fa fa-{{n.icon}}"></i> {{n.title}}</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li ng-repeat="c in n.childs" class="nav-item">
                        <a ng-if="c.childs.length==0 && c.route" ui-sref="{{c.route}}"><i class="fa fa-{{c.icon}}"></i> {{c.title}}</a>
                        <a ng-if="c.childs.length==0 && c.href" href="{{c.href}}" target="_blank"><i class="fa fa-{{c.icon}}"></i> {{c.title}}</a>
                        <a ng-if="c.childs.length>0" class="nav-link nav-toggle" href="javascript:;">
                            <span class="title"><i class="fa fa-{{c.icon}}"></i> {{c.title}}</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li ng-repeat-start="x in c.childs" ng-if="x.isSeperator" class="divider"></li>
                            <li ng-repeat-end class="nav-item">
                                <a ui-sref="{{x.route}}"><span class="title"><i class="fa fa-{{x.icon}}"></i> {{x.title}}</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>