<ul class="nav navbar-nav">
    <li ui-sref-active="active" class="classic-menu-dropdown" ng-repeat="n in navigations">
        <a ng-if="n.childs.length==0" class="{{menuclass}}" ui-sref="{{n.route}}"><i class="fa fa-{{n.icon}}"></i> {{n.title}}</a>
        <a ng-if="n.childs.length==1" class="{{menuclass}}" ui-sref="{{n.childs[0].route}}"><i class="fa fa-{{n.childs[0].icon}}"></i> {{n.childs[0].title}}</a>
        <a ng-if="n.childs.length>1" href="javascript:;" class="dropdown-toggle {{menuclass}}" data-hover="megamenu-dropdown" data-close-others="true">
            <i class="fa fa-{{n.icon}}"></i> {{n.title}} <i class="fa fa-angle-down"></i>
        </a>
        <ul ng-if="n.childs.length>1" class="dropdown-menu pull-left">
            <li ng-repeat-start="c in n.childs" ng-if="c.isSeperator" class="divider"></li>
            <li ui-sref-active="active" ng-repeat-end ng-class="{'dropdown-submenu':c.childs.length>0}">
                <a ng-if="c.childs.length==0 && c.route" ui-sref="{{c.route}}"><i class="fa fa-{{c.icon}}"></i> {{c.title}}</a>
                <a ng-if="c.childs.length==0 && c.href" href="{{c.href}}" target="_blank"><i class="fa fa-{{c.icon}}"></i> {{c.title}}</a>
                <a ng-if="c.childs.length>0" href="javascript:;">
                    <i class="fa fa-{{c.icon}}"></i> {{c.title}}
                </a>
                <ul class="dropdown-menu">
                    <li ng-repeat-start="x in c.childs" ng-if="x.isSeperator" class="divider"></li>
                    <li ui-sref-active="active" ng-repeat-end><a ui-sref="{{x.route}}"><i class="fa fa-{{x.icon}}"></i> {{x.title}}</a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>