<div class="mt-card-item mt-element-ribbon" ng-class="{active:card.selected}">
    <div class="mt-card-avatar mt-overlay-1">
        <div class="mt-picture  mt-16x9" background-image="{{card.picture | gravtaar:card.Email:275:'notfound'}}">
            <i ng-if="!card.picture" ng-class="icon|fileIcon:'5x'"></i>
            <h4 ng-if="card.isSent" class="across bg-green uppercase">Sent</h4>
        </div>
        <div class="mt-overlay">
            <ul class="mt-info">
                <li>
                    <a class="btn default btn-outline" title="Details - {{card.Title}}" ui-sref="editTemplate({id:card.id})">
                        <i class="fa fa-pencil-square-o"></i>
                    </a>
                </li>
                <li ng-if="perm.current.write">
                    <a class="btn default btn-outline" title="Delete {{title}} - {{card.Title}}" ng-click="trash(card)">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </li>
                <li ng-if="perm.current.write">
                    <a class="btn default btn-outline" title="Copy {{title}} - {{card.Title}}" ng-click="copy(card)">
                        <i class="fa fa-copy"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="mt-card-content" ng-click="toggleOne(card)">
        <h3 class="mt-card-name">{{card.title}}</h3>
        <p class="mt-card-desc font-grey-mint">{{card.description}}&nbsp;</p>
    </div>
</div>