<div class="form-body">
    <div class="form-group">
        <label class="control-label">Host</label>
        <input class="form-control" type="text" ng-model="record.Website.Host" placeholder="Host e.g. videoui.com" />
    </div>
    <div class="form-group">
        <label class="control-label">WebSite</label><input class="form-control" type="text" ng-model="record.Website.WebName" placeholder="Azure WebSite Name e.g. videoui" />
    </div>
    <div class="form-group">
        <label class="control-label">Webspace</label>
        <input class="form-control" type="text" ng-model="record.Website.WebSpace" placeholder="Azure Webspace Name e.g northeuropewebspace" />
    </div>
    <div class="form-group">
        <label class="control-label">Publish Settings</label><input class="form-control" type="text" ng-model="record.Website.Certificate" placeholder="Azure Publish Settings Name e.g. tveverywhere.publishsettings" />
    </div>
</div>