<div class="form-body">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="list-group">
                <div class="list-group-item active"><i class="fa fa-facebook"></i> Facebook<span class="pull-right"><a href="https://developers.facebook.com/apps" target="_blank" title="Create or Find Facebook Applications"><i class="fa fa-info"></i></a></span></div>
                <div class="list-group-item">
                    <input class="form-control" type="text" ng-model="record.Facebook.Key" placeholder="Facebook Application Id" />
                </div>
                <div class="list-group-item">
                    <input class="form-control" type="text" ng-model="record.Facebook.Secret" placeholder="Facebook Secret" />
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="list-group">
                <div class="list-group-item active"><i class="fa fa-tumblr"></i> Tumblr <span class="pull-right"><a href="http://www.tumblr.com/oauth/apps" target="_blank" title="Create or Find Tumblr Applications"><i class="fa fa-info"></i></a></span></div>
                <div class="list-group-item">
                    <input class="form-control" type="text" ng-model="record.Tumblr.Key" placeholder="Consumer Key" />
                </div>
                <div class="list-group-item">
                    <input class="form-control" type="text" ng-model="record.Tumblr.Secret" placeholder="Secret" />
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="list-group">
                <div class="list-group-item active"><i class="fa fa-linkedin"></i> Linked-In<span class="pull-right"><a href="https://www.linkedin.com/secure/developer" target="_blank" title="Create or Find LinkedIN Applications"><i class="fa fa-info"></i></a></span></div>
                <div class="list-group-item">
                    <input class="form-control" type="text" ng-model="record.LinkedIn.Key" placeholder="Client Id" />
                </div>
                <div class="list-group-item">
                    <input class="form-control" type="text" ng-model="record.LinkedIn.Secret" placeholder="Secret" />
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="list-group">
                <div class="list-group-item active"><i class="fa fa-windows"></i> Microsoft<span class="pull-right"><a href="https://account.live.com/developers/applications/index" target="_blank" title="Create or Find Microsoft Live Applications"><i class="fa fa-info"></i></a></span></div>
                <div class="list-group-item">
                    <input class="form-control" type="text" ng-model="record.Microsoft.Key" placeholder="Client Id" />
                </div>
                <div class="list-group-item">
                    <input class="form-control" type="text" ng-model="record.Microsoft.Secret" placeholder="Client Key" />
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="list-group">
                <div class="list-group-item active"><i class="fa fa-twitter"></i> Twitter<span class="pull-right"><a href="https://dev.twitter.com/apps" target="_blank" title="Create or Find Twitter Applications"><i class="fa fa-info"></i></a></span></div>
                <div class="list-group-item">
                    <input class="form-control" type="text" ng-model="record.Twitter.Handle" placeholder="Handle" />
                </div>
                <div class="list-group-item">
                    <input class="form-control" type="text" ng-model="record.Twitter.Key" placeholder="Consumer Key" />
                </div>
                <div class="list-group-item">
                    <input class="form-control" type="text" ng-model="record.Twitter.Secret" placeholder="Consumer Secret" />
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="list-group">
                <div class="list-group-item active"><i class="fa fa-google"></i> Google<span class="pull-right"><a href="https://code.google.com/apis/console/?pli=1" target="_blank" title="Create or Find Google Applications"><i class="fa fa-info"></i></a></span></div>
                <div class="list-group-item">
                    <input class="form-control" type="text" ng-model="record.Google.Key" placeholder="Client Id" />
                </div>
                <div class="list-group-item">
                    <input class="form-control" type="text" ng-model="record.Google.Secret" placeholder="Secret" />
                </div>
                <div class="list-group-item">
                    <input class="form-control" type="text" ng-model="record.Google.Scope" placeholder="Permissions" />
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="list-group">
                <div class="list-group-item active"><i class="fa fa-rights"></i> Rights Tracker<span class="pull-right"><a href="https://www.rightstracker.com/" target="_blank" title="Create or Find Rights Tracker Applications"><i class="fa fa-info"></i></a></span></div>
                <div class="list-group-item">
                    <input class="form-control" type="text" ng-model="record.RightsTracker.Server" placeholder="Server" />
                </div>
                <div class="list-group-item">
                    <input class="form-control" type="text" ng-model="record.RightsTracker.Key" placeholder="Api Key" />
                </div>
                <div class="list-group-item">
                    <input class="form-control" type="text" ng-model="record.RightsTracker.Secret" placeholder="Secret" />
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="list-group">
                <div class="list-group-item active"><i class="fa fa-github"></i> GitHub<span class="pull-right"><a href="https://github.com/settings/applications/new" target="_blank" title="Create or Find GitHub Applications"><i class="fa fa-info"></i></a></span></div>
                <div class="list-group-item">
                    <input class="form-control" type="text" ng-model="record.GitHub.Key" placeholder="Client Id" />
                </div>
                <div class="list-group-item">
                    <input class="form-control" type="text" ng-model="record.GitHub.Secret" placeholder="Secret" />
                </div>
                <div class="list-group-item">
                    <input class="form-control" type="text" ng-model="record.GitHub.Scope" placeholder="Permissions" />
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="list-group">
                <div class="list-group-item active"><i class="fa fa-soundcloud"></i> Soundcloud<span class="pull-right"><a href="http://soundcloud.com/you/apps" target="_blank" title="Create or Find Soundcloud Applications"><i class="fa fa-info"></i></a></span></div>
                <div class="list-group-item">
                    <input class="form-control" type="text" ng-model="record.Soundcloud.Key" placeholder="Client Id" />
                </div>
                <div class="list-group-item">
                    <input class="form-control" type="text" ng-model="record.Soundcloud.Secret" placeholder="Secret" />
                </div>
                <div class="list-group-item">
                    <input class="form-control" type="text" ng-model="record.Soundcloud.Scope" placeholder="Permissions" />
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="list-group">
                <div class="list-group-item active"><i class="fa fa-dropbox"></i> Dropbox<span class="pull-right"><a href="https://www.dropbox.com/developers/apps" target="_blank" title="Create or Find Dropbox Applications"><i class="fa fa-info"></i></a></span></div>
                <div class="list-group-item">
                    <input class="form-control" type="text" ng-model="record.Dropbox.Key" placeholder="Client Id" />
                </div>
                <div class="list-group-item">
                    <input class="form-control" type="text" ng-model="record.Dropbox.Secret" placeholder="Secret" />
                </div>
                <div class="list-group-item">
                    <input class="form-control" type="text" ng-model="record.Dropbox.Scope" placeholder="Permissions" />
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="list-group">
                <div class="list-group-item active"><i class="fa fa-paypal"></i> PayPal<span class="pull-right"><a href="https://developer.paypal.com/webapps/developer/applications/myapps" target="_blank" title="Create or Find PayPal Applications"><i class="fa fa-info"></i></a></span></div>
                <div class="list-group-item">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" aria-label="Sandbox" ng-model="record.IsSandbox"> Sandbox
                        </span>
                        <input class="form-control" type="text" ng-model="record.PayPal.Key" placeholder="Client Id" />
                    </div>
                </div>
                <div class="list-group-item">
                    <input class="form-control" type="text" ng-model="record.PayPal.Secret" placeholder="Secret" />
                </div>
                <div class="list-group-item">
                    <input class="form-control" type="text" ng-model="record.PayPal.Scope" placeholder="Permissions" />
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="list-group">
                <div class="list-group-item active"><i class="fa fa-paypal"></i> Stripe<span class="pull-right"><a href="https://dashboard.stripe.com/account/apikeys" target="_blank" title="Find Stripe API Keys"><i class="fa fa-info"></i></a></span></div>
                <div class="list-group-item">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" aria-label="Sandbox" ng-model="record.Stripe.IsTest"> Test
                        </span>
                        <input class="form-control" type="text" ng-model="record.Stripe.Key" placeholder="Secret Key" />
                    </div>
                </div>
                <div class="list-group-item">
                    <input class="form-control" type="text" ng-model="record.Stripe.Secret" placeholder="Publishable Key" />
                </div>
            </div>
        </div>
    </div>
</div>