<div ng-include="'App/views/layout/page-save.html'"></div>
<div fill-height additional-padding="111" debounce-wait="400" footer-element-id="page-footer" class="scroller" slimscroll>
    <div class="portlet light">
        <div class="portlet-title tabbable-line">
            <div class="caption caption-md">
                <i class="fa fa-cogs theme-font"></i>
                <span class="caption-subject theme-font bold">{{title}}</span>
                <span class="caption-helper">error reporting</span>
            </div>
        </div>
        <div class="portlet-body">
            
        </div>
    </div>
</div>