<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Facebook Account</label>
            <div class="input-group btn-addon">
                <ui-select ng-model="facebook.account" on-select="loadPages($item,$model)" title="Choose a facebook account...">
                    <ui-select-match>{{$select.selected.Name}}</ui-select-match>
                    <ui-select-choices group-by="'Client'" repeat="ts.ID as ts in claims | filter: {Provider:'Facebook'}">
                        <div ng-bind-html="ts.Name"></div>
                    </ui-select-choices>
                </ui-select>
                <div class="input-group-btn">
                    <a href="/connect/Facebook?returnUrl=/%23share?mode=facebook" class="btn blue-steel">Connect <i class="fa fa-facebook"></i><i class="fa fa-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <labell class="control-label">Page</labell>
            <ui-select ng-model="facebook.page" title="Choose a facebook page...">
                <ui-select-match>{{$select.selected.Label}}</ui-select-match>
                <ui-select-choices repeat="ts.ID as ts in fbpages">
                    <div ng-bind-html="ts.Label"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="note note-danger" ng-if="fberror">
            <h3>Error</h3>
            <p>
                {{fberror}}
            </p>
            <a href="/connect/facebook?returnUrl=/%23share?mode=facebook" class="btn blue-steel">Re-Connect <i class="fa fa-facebook"></i><i class="fa fa-plus"></i></a>
        </div>
        <div class="form-group">
            <button ng-click="sendFacebook(facebook)" btn-loading="loading.facebook" data-loading-text="Sharing..." class="btn btn-lg btn-success"><i class="fa fa-facebook"></i> Start Sharing</button>
        </div>
    </div>
</div>
