<div class="portlet light">
    <div class="portlet-title tabbable-line">
        <div class="caption caption-md">
            <i class="icon-globe theme-font hide"></i>
            <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
        </div>
        <ul class="nav nav-tabs">
            <li ng-class="{'active':!args.mode}"><a data-target="#personal" data-toggle="tab">Personal Info</a></li>
            <li ng-class="{'active':args.mode=='password'}" ><a data-target="#password" data-toggle="tab">Change Password</a></li>
        </ul>
    </div>
    <div class="portlet-body">
        <div class="tab-content">
            <div class="tab-pane" ng-class="{'active':!args.mode}" id="personal">
                <div class="row">
                    <div class="col-md-4 col-lg-3">
                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <input type="text" class="form-control" ng-model="record.name" required placeholder="Name" name="Name" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Date of Birth</label>
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="userBirthday" role="button" data-toggle="dropdown" data-target="#" href="#">
                                    <div class="input-group">
                                        <input class="form-control" type="text" value="{{record.birthday | date:'yyyy-MM-dd'}}" required placeholder="Date of Birth" name="Birthday" />
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker ng-model="record.Birthday" datetimepicker-config="{ startView:'day', dropdownSelector: '#userBirthday',minView:'day' }" />
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Phone Number</label>
                            <div class="input-icon">
                                <i class="fa fa-phone font-green"></i>
                                <input class="form-control" type="tel" ng-model="record.phoneNumber" required pattern="^(\(?\+?[0-9]*\)?)?[0-9_\- \(\)]*$" placeholder="Mobile" name="Mobile" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <div class="input-icon">
                                <i class="fa fa-envelope-o font-green"></i>
                                <input class="form-control" type="email" ng-model="record.email" required placeholder="Email" name="Email" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 col-lg-3">
                        <div class="form-group">
                            <label class="control-label">Address</label>
                            <input class="form-control" type="text" ng-model="record.address" required placeholder="Address" name="Address" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Postcode</label>
                            <input class="form-control" type="text" ng-model="record.postcode" required placeholder="Postcode" name="Postcode" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Country</label>
                            <input class="form-control" type="text" ng-model="record.country" required placeholder="Country" name="Country" />
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3" ng-if="perm.upload.write">
                        <div class="form-group">
                            <ng-upload-form ng-model="record.picture"
                                            url="{{encoder}}"
                                            size="200"
                                            name="profilePicture"
                                            quick="true"
                                            storage="-1"
                                            user="{{user}}"
                                            auto-upload="true"
                                            title="Avatar"
                                            multiple="false"
                                            size-limit="5000000">
                            </ng-upload-form>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Joined</label>
                            <input class="form-control" disabled type="text" value="{{record.created | fromNow }}" required placeholder="Created" name="Created" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" ng-class="{'active':args.mode=='password'}" id="password">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Current Password</label>
                            <input type="password" class="form-control" ng-model="pwd.OldPassword" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">New Password</label>
                            <input type="password" class="form-control" ng-model="pwd.NewPassword" />
                        </div>
                        <div ng-password-strength="pwd.NewPassword"
                             strength="demo.passStrength"
                             calculation-mode="{{pwd.calculationMode}}"
                             goal="{{pwd.goal}}"
                             inner-class="progress-bar"
                             inner-class-prefix="progress-bar-"></div>
                        <div class="form-group">
                            <label class="control-label">Re-type New Password</label>
                            <input type="password" class="form-control" ng-model="pwd.ConfirmPassword" />
                        </div>
                        <div class="note note-danger" ng-if="pwd.NewPassword!=pwd.ConfirmPassword && pwd.ConfirmPassword">
                            <h4>Error</h4>
                            <p>Password and confirm Password must match.</p>
                        </div>
                        <div class="margin-top-10">
                            <a ng-click="changePassword(pwd)" ng-disabled="pwd.goal>80" class="btn green"> Change Password </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>